.leaflet-toolbar-0 > li > .leaflet-toolbar-icon.leaflet-toolbar-icon{
    position:relative
}
.fa-eyedropper.fa-eyedropper{
top: 50%;
position: absolute;
left: 50%;
transform: translate(-50%,-50%);
}
.fa-eyedropper::before{
    font-size: 12px !important;
}
#map {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
 }
 .leaflet-popup {margin-left:1px; top: 24px !important;}
 .leaflet-popup-tip-container {
    top: 0px !important;
 }
 .leaflet-popup-tip {
    box-shadow: none !important;
 }
 .leaflet-popup:before 
     {
     content: "";
     position: absolute;
     border: 13px solid transparent;
     border-bottom-color: white;
     bottom: 0px;
     margin-left: -13px;
 }
 .another-popup .leaflet-popup-content-wrapper {
     font-size: 24px;
     line-height: 24px;
     border-radius: 0px;
 }
 html, body, #map { margin: 0; height: 100%; width: 100%; flex-flow:row}
     .fantasyclass{
         position: absolute;
         top: 0;
         right: 0;
     }
     .overlay{
         position: absolute;
         top: 12px;
         left: 100px;
         z-index: 410;
         background-color: #fff;
         font-size: 18px;
         border-radius: 2px;
         padding: 0px 10px;
 
     }
     .leaflet-toolbar-icon .fa { color: rgb(74, 74, 74);
             font-size: 0.9rem;} 
         .leaflet-color-swatch { background-color: #fff
         }
         .leaflet-retina .leaflet-draw-toolbar.leaflet-draw-toolbar a{
             display: flex; 
             align-items: center;
             justify-content: center; 
             }
         .leaflet-control-layers-base{
             font-size: 15px;
         }
